<div class="footer__bar">
  <div class="footer__bar__content">
    <p>Copyright © 2024 HealthCare. All rights reserved.</p>
    <div class="footer__socials">
      <span><i class="fa-brands fa-instagram"></i></span>
      <span><i class="fa-brands fa-facebook"></i></span>
      <span><i class="fa-brands fa-x-twitter"></i></span>
    </div>
  </div>
</div>
</footer>
</main>
</body>
</html>