<style>
    nav {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

nav h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ddd;
}
</style>



<nav>
    <h2>Teleconsultation</h2>
    <ul>
        <li><a href="/">Home</a></li>
       
        <% console.log(user);
        if(user) {
        

         %>
        <li><a href="/user/profile">profile</a></li>
        <li><a href="/user/logout">Logout</a></li>
        <li><a href="/admin/users">Manage Users</a></li>
        <% } else{  %>
            <li><a href="/patient/register">Register</a></li>
        <li><a href="/user/login">Login</a></li>
            <% } %>

        
        
    </ul>
    
</nav>

