<%- include('./layouts/header') %>  

<h1 class="title">Teleconsultation</h1>
<div class="tutorial-info">
  <ol class="tutorial-info">
    <p>Welcome to TeleConsult: Your Online Medical Solution

      At TeleConsult, we believe that healthcare should be accessible to everyone, regardless of location or circumstance. With our innovative teleconsultation platform, you can connect with qualified medical professionals from the comfort of your own home, office, or anywhere with an internet connection.
      
      Expert Medical Care, Anytime, Anywhere
      
      Gone are the days of long wait times and inconvenient appointments. With TeleConsult, you can schedule virtual consultations with experienced doctors, specialists, and healthcare providers at your convenience. Whether you need medical advice, prescriptions, or follow-up care, our platform offers a seamless and secure way to connect with healthcare professionals.
      
      Personalized and Confidential
      
      Your health is our priority. Our teleconsultation platform ensures that your personal information remains confidential and secure. Each consultation is tailored to your individual needs, providing personalized medical advice and treatment plans from trusted professionals.
      
      Accessible Healthcare for All
      
      TeleConsult is committed to making healthcare accessible and affordable for everyone. Our platform eliminates geographical barriers, allowing individuals in remote areas or with limited mobility to receive quality medical care. With transparent pricing and flexible payment options, TeleConsult puts your health first.
      
      Start Your Journey to Better Health Today
      
      Experience the convenience and efficiency of teleconsultation with TeleConsult. Whether you're seeking medical advice, treatment, or second opinions, our platform connects you with top healthcare professionals in just a few clicks. Take control of your health journey and join TeleConsult today.
      
      Your health, your convenience - TeleConsult: Where care knows no boundaries.</p>
</div>

<%- include('./layouts/footer') %>
