<%- include('./layouts/header') %>

<form class="register form" action="/auth/register" method="post">
<div class='container'>
  <h1 id="id2">Register</h1>
</div>
  
    <div>
      <label id="id1" for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" required>
    </div>
    <div>
      <label id="id1" for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" required>
    </div>
    <label id="id1" for="email">Email</label>
    <input
      type="text"
      name="email"
      id="email"
    />
  </div>
  <div>
    <label id="id1" for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div>
    <label id="id1" for="password2">Confirm password</label>
    <input type="password" name="password2" id="password2" />
  </div>
  <div>
    <!-- <input type="submit" value="Register" /> -->
    <button class="btn submit">Register</button>
  </div>
  <div>
    <p>
      Already have an account? <span><a href="/auth/login">Login</a></span>
    </p>
  </div>
</form>
<br />
<%- include('./layouts/footer') %>
