<%- include ('layouts/header') %>
<h1>On s'est perdu Oups!</h1>
<br />
<h3><%= error.status %> | <%= error.message %></h3>
<br />
<a href="/">← Retour à l'accueil</a>
<%- include ('layouts/footer') %>
